@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.navbar {
    display: flex;
    background-color: rgb(255, 199, 126);
    padding: 5px;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.brand {
    padding: 3px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    margin-left: 10px;
}

.brand a{
    text-decoration: none;
    color: black;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-right: 10px;
    width: 30%;
}

.nav a {
    text-decoration: none;
    color: black;
    padding: 5px;
    font-size: 15px;
    font-weight: bold;
    position: relative;
}

.nav a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    display: block;
    margin-top: 5px;
    right: 0;
    background: black;
    transition: width 0.3s ease;
}

.nav a:hover::after, .nav .active::after {
    width: 100%;
    left: 0;
    background: black;
}

.login, .register, .branded-button {
    padding: 15px;
    font-size: 15px;
    font-weight: bold;
    text-decoration: none;
    color: black;
    border-radius: 7px;
    border: 0px;
    cursor: pointer;
    background: linear-gradient(45deg, #f3ec78, #af4261);
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.login, .register, .branded-button {
    transition: background-color 0.3s ease;
}

.login:hover, .register:hover, .form-button:hover, .branded-button:hover {
    background: linear-gradient(45deg, #f3ec78, #af4261);
    background-size: 200% 200%;
    animation: gradientAnimation 3s ease infinite;
    font-weight: bold;
}

.login {
    margin-right: -20px;
}

/* Login Form */

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    margin-top: 20px;
    justify-content: center;
    width: 50%;
}

.form-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

.form-label {
    font-weight: 500;
    font-size: 20px;
    margin: -10px 10px;
    z-index: 1000;
    background-color: white;
    border-radius: 10px;
}

.form-content input {
    width: 100%;
    padding: 10px;
    margin-bottom: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 20px;
    height: 25px;
    background-color: rgba(255, 203, 61,.2);
}

.form-button {
    padding: 15px 30px;
    border: none;
    border-radius: 5px;
    background: linear-gradient(45deg, #f3ec78, #af4261);
    color: #000;
    font-size: 20px;
    cursor: pointer;
}

.pg-heading {
    font-size: 40px;
    margin-top: 50px;
    margin-bottom: 0px;
    text-align: center;
}

.invalid, .invalid:focus {
    border : 2px solid red !important;
    outline-color: red !important;
    outline-width: 10px;
}

.valid, .valid:focus {
    border : 2px solid green !important;
    outline-color: green !important;
    outline-width: 10px;
}

/* Footer */

.footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    background-color: rgb(255, 199, 126);
    width: 100%;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.copyright {
    font-size: 20px;
    font-weight: 500;
}

/* Registeration */

.reg-heading {
    margin-bottom: 30px;
}

.error-msg {
    margin-top: -30px;
    color: red;
    display: inline-block;
}

.error-msg-muted {
    margin-top: -20px;
    color: red;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}

.form-footer {
    text-align: center;
}

.form-footer a, .hd-desc a {
    color: rgb(0, 121, 251);
    font-weight: bold;
}

.form-footer a:hover, .hd-desc a:hover {
    color: rgb(0, 71, 147);
}

.error-msg-login {
    margin-top: 20px;
    color: red;
    text-align: center;
    font-weight: bold;
}

.hd-desc {
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 0px;
    text-align: center;
}

.login-info-container {
    height: 70vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.button-container {
    display: flex;
    justify-content: center;
    width: 50%;
    margin: 20px auto;
}

.button-container > * {
    margin: 10px;
}

/* Home Page */

.home-heading {
    font-size: 35px;
    margin: 50px auto;
    width: 50%;
    text-align: center;
}

.card-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
}

.card {
    display: flex;
    width: 45%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
}

.card:hover {
    transform: scale(1.05);
    transition: transform 0.5s;
    cursor: pointer;
}

.card > * {
    border: 1px solid black;
}

.left-side {
    display: flex;
    width: 33%;
    height: 300px;
    border-radius: 10px 0px 0px 10px;
    align-items: center;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}

.right-side {
    display: flex;
    width: 67%;
    height: 300px;
    border-radius: 0px 10px 10px 0px;
    justify-content: center;
    align-items: center;
    background-color: #FADCB6;
}

.card-icon {
    height: 100px;
    width: 100px;
}

.card-heading {
    font-size: 30px;
    font-weight: 600;
    margin: 0px;
}

.card-desc {
    font-size: 22px;
    color: #545454;
    margin: 20px;
    text-align: center;
}

.card-button {
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 15px;
    background: #BABABA;
    color: #000;
    font-size: 20px;
    cursor: pointer;
    opacity: 0.8;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.2);
}

.card-button:hover {
    background-color: #bababa;
    opacity: 1;
}
